**/bin/
**/obj/
**/out/
**/publish/
**/.vs/
**/.idea/
**/.vscode/
**/*.user
**/*.suo

.git/
.github/
.gitignore
.dockerignore

**/appsettings.Development.json
**/secrets.json
**/.env

PLAN.md
WALKTHROUGH.md
README.md
LICENSE

azure-pipelines.yml
